extends layout

block content
    if resumen.cuentas.length > 0
        each cuenta in resumen.cuentas
            div(class='panel panel-default')
                .panel-heading
                    b=cuenta.cuenta
                .panel-body
                    table(class='table')
                        thead
                            tr
                                th Descripcion
                                th Monto
                        tbody
                                tr
                                    td
                                        b Total
                                    td #{cuenta.total}
                        each entrada in cuenta.entradas
                                tr
                                    td=entrada.descripcion
                                    td=entrada.monto
    
    hr
    .dropzone_btns
        a(href="#",id="cargar-pdfs",class="btn btn-success") Subir
            span(class="glyphicon glyphicon-upload")

        a(href="#",id="borrar-pdfs",class="btn btn-danger") Limpiar
            span(class="glyphicon glyphicon-trash")

    form(action="#",class="dropzone",id="pdfs")
        .dz-message Generacion de pdf imprimible (Arrastrar comprobantes pdf)

block scripts

    // Dropzone
    script(type='text/javascript').
        Dropzone.options.comprobantes = {
            url: '/cargar_comprobante'
        };

        Dropzone.options.pdfs = {
            uploadMultiple:true,
            url: '/cargar_pdf',
            parallelUploads:20,
            maxFiles:20,
            autoProcessQueue: false,
            init: function() {
                var _this = this;

                // Setup the observer for the button.
                document.querySelector("#borrar-pdfs")
                    .addEventListener("click", function() {
                        _this.removeAllFiles();
                });

                document.querySelector("#cargar-pdfs")
                    .addEventListener("click", function() {
                        overlayControl.show();
                        _this.processQueue();
                });

                this.on('queuecomplete',function(){
                    window.location = '/descargar_agrupado';
                    overlayControl.hide();
                    _this.removeAllFiles();
                });
            }
        };

        // Overlay waiting
        var overlayControl = {
            show:function(){
                var docHeight = $(document).height();

                $("body").append("<div id='overlay'></div>");

                $("#overlay")
                    .height(docHeight)
                    .css({
                        'opacity' : 0.4,
                        'position': 'absolute',
                        'top': 0,
                        'left': 0,
                        'background-color': 'black',
                        'background': 'rgba( 0, 0, 0, .4 ) url(\'/loading2.gif\') 50% 50% no-repeat',
                        'width': '100%',
                        'z-index': 5000
                    });
            },

            hide:function(){
                $("div#overlay").remove();
            }
        };
