extends layout

block content
	form(class="form-inline",
		action="/agregar_servicio",
		method="POST")
			label Tipo
			input(class="form-control" , id="main-control" type='text', name='tipo', value='', placeholder='')
			
			label Cliente
			input(class="form-control" , type='text', name='cliente', value='', placeholder='')
			
			label Nombre
			input(class="form-control" , type='text', name='nombre', value='', placeholder='')

			label Cuenta
			select(class="form-control" name="cuenta")
					each cuenta in cuentas
						option(value=cuenta._id)=cuenta.nombre

			span.input-group.btn
				button(class="btn btn-default")
					span(class="glyphicon glyphicon-plus", type="submit")

	form(action="#",class="dropzone",id="comprobantes")
		.dz-message Carga de comprobantes para registro (Arrastrar comprobantes pdf)
	hr
	.dropzone_btns
		a(href="#",onclick="cargarPdfs()",class="btn btn-success") Subir
			span(class="glyphicon glyphicon-upload")

		a(href="#",onclick="limpiarPdfs()",class="btn btn-danger") Limpiar
			span(class="glyphicon glyphicon-trash")

	form(action="#",class="dropzone",id="pdfs")
		.dz-message Generacion de pdf imprimible (Arrastrar comprobantes pdf)

block scripts
	script(type='text/javascript').
		// Disable auto discover for all elements:
		Dropzone.autoDiscover = false;

		var pdfDrop;
		$(document).ready(function() {
			new Dropzone('#comprobantes',{
				url: '/cargar_comprobante'
			});

			pdfDrop = new Dropzone('#pdfs',{
				uploadMultiple:true,
				url: '/cargar_pdf',
				parallelUploads:20,
				maxFiles:20,
				autoProcessQueue: false
			});

			pdfDrop.on('queuecomplete',function(){
				window.location = '/descargar_agrupado';
				pdfDrop.removeAllFiles();
			})
		});

		function cargarPdfs(){
			pdfDrop.processQueue();
		}

		function limpiarPdfs(){
			pdfDrop.removeAllFiles();
		}